@tailwind base;
@tailwind components;
@tailwind utilities;

.btnCustom {
  /* class nya tolong dibedakan sama punyanya tailwind pingkan atau bisa pake "normal-case dan w-full" dari tailwind */
  text-transform: none;
}

.bg-hero {
  background-image: url("../images/pic.png");
  position: absolute;
  width: 1440px;
  height: 700px;
  left: 0px;
  top: 0px;
}

.btnSend {
  width: 150px;
  height: 70px;
  left: 1037px;
  top: 450px;
}

.btn-signup {
  width: 400px;
  height: 65px;
  left: 817px;
  top: 721px;
}

.input {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="time"]:before {
  content: "Enter the time you’ll arrived";
  color: black;
  font-weight: 600;
  position: absolute;
  background: #fff;
}

input.timeStart[type="time"]:before {
  content: "Select start hour";
  color: black;
  position: absolute;
  background: #fff;
}

input.timeEnd[type="time"]:before {
  content: "Select end hour";
  color: black;
  position: absolute;
  background: #fff;
}

input[type="time"]:focus:before {
  width: 0;
  content: "";
}

.nonelement {
  display: none;
}
